---
import { YVP_PUBLIC_APP_KEY } from 'astro:env/client'
import { App } from '../components/youversion-app-wrapper'
import NavTabBar from '../components/nav-tab-bar.astro'
import '../styles/global.css'
---

<html lang="en" class="h-svh w-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>

  <body class="h-full w-full">
    <NavTabBar />
    <App appKey={YVP_PUBLIC_APP_KEY} client:only="react" />
  </body>
</html>
